<h1><%=t '.ac_performance'%></h1>
<hr width="500"/>
<div class = "all_grades">
    <table class = "table table-bordered table-hover ac_performance">
        <thead class="thead-light">
            <th> <%=t '.subject'%> </th>
            <th> <%=t '.teacher'%> </th>
            <th> <%=t '.marks'%> </th>
            <th> <%=t '.average'%> </th>
        </thead>
        <% Subject.all.each do |subj|%>
        <tr>
            <td> <%= subj.name %> </td>
            <td>
            <%= Student.where(id: Lesson.where(subject: subj.name, classlet: current_student.classlet, classnum: current_student.classnum).map{|el|el.teacher_id}).map{|el|el.name} * ", "%></td>
            <% all_lessons_id = Lesson.where(classnum: current_student.classnum, classlet: current_student.classlet,subject: subj.name).to_a.map{|el| el.id} %>
            <% grades = Grade.where(student_id:current_student.id, lesson_id: all_lessons_id).to_a.map{|el| el.value}%>
            <td> <%= grades * " " if grades != []%> </td>
            <% if grades != [] %>
                <% average = grades.inject(0.0) { |sum, el| sum + el } / grades.size %>
                <% if average > 4.0 then%>
                    <% color = "text-success"%>
                <% elsif average < 3.0 then%>
                    <% color = "text-danger"%>
                <% else %>
                    <% color = "text-info"%>
                <% end %>
            <% end %>
            <td class = <%=color%>> <%= average%> </td>
        </tr>
        <% end %>
    </table>
</div>