<h1>All subjects</h1>
<hr width="300"/>
<div class = "all_grades col-md-4 offset-md-4">
    <table class = "table table-hover ac_performance">
        <thead class="thead-light">
            <th colspan = "2"> Subject </th>
        </thead>
        <% Subject.all.each_with_index do |subj, i|%>
        <tr class = "border">
            <td> <%= subj.name %> </td>
            <td class="delete<%=i+1%>"><a href="<%=grade_delete_subject_url%>?name=<%=subj.name%>"><img src="/delete-24px.svg" width="30" height="30" alt="Delete"></a></td>
        </tr>
        <% end %>
    </table>
</div>
<div class = "col-md-4 offset-md-4">
 <%= form_with url: grade_add_subject_url do |form| %>
    <div class = "">
        <%= form.label "Add new subject:", class: "mr-md-2" %>
        <%= form.text_field :subject_name, placeholder: "Subject name", class: "form-control" %>
        <%= form.submit class: "btn btn-outline-primary btn-block mt-3 mb-3"%>
    </div>
<% end %>
</div>