<h1><%= t '.all_students'%></h1>

<hr width="500"/>
<div class="form-row align-items-center mx-auto mb-3 mt-4">
    <div class="col justify-content-center">
        <label class="mr-md-2 mb-0" ><%= t '.choose_class'%></label>
    </div>
    <div class="col">
        <% current_teacher_lessons = Lesson.order(classnum: :asc, classlet: :asc)%>
        <% current_teacher_classes = [].to_set %>
        <% current_teacher_lessons.each do |el|%>
            <% current_class = el.classnum.to_s+el.classlet.to_s %>
            <% current_teacher_classes.add(current_class) %>
        <% end %>
        <%= select :choosing_class, :chosen_class, current_teacher_classes, {:include_blank => true}, {class: "form-control"}%>
    </div>
    <div class="col">
        <input type="button" id="show_students" value="<%= t('.show')%>" class="btn btn-outline-primary btn-block">
    </div>
</div>
<div class = "all_students">
</div>
<script>
    document.querySelector("#show_students").onclick = function(){
        console.log(document.querySelector("#choosing_class_chosen_class").value)
        if (document.querySelector("#choosing_class_chosen_class").value != ""){
            const param_str = "chosen_class=" + document.querySelector("#choosing_class_chosen_class").value
            let JSON_students = {}
            let http_request = new XMLHttpRequest()
            http_request.open("GET", "<%= student_get_all_students_url %>" + "?" + param_str  + "&format=json")
            http_request.onreadystatechange = function () {
                if (http_request.readyState == 4 && http_request.status == 200) {
                    JSON_students = JSON.parse(http_request.responseText);
                    show_students_table(JSON_students.result);
                }
        }
        http_request.send();  
        }  
    }
    function show_students_table(data){
        table_place = document.querySelector(".all_students")
        table_place.innerHTML = ""
        table_place.insertAdjacentHTML('beforeend',`<h3 class="mb-3">${document.querySelector("#choosing_class_chosen_class").value}</h3>
            <table class="table table-bordered table-hover all_students_table"><thead class="thead-light"><tr><th></th><th><%= t '.student'%></th></tr>`)
        table_place = document.querySelector(".all_students_table")
        for (i = 0; i < data.length; i++){
            table_place.insertAdjacentHTML('beforeend',`<tr> <td>${i+1}</td> <td>${data[i]}</td> </tr>`)
        }
    }
</script>
