<%current_lesson = Lesson.find_by(id: params[:id])%>
<%current_form = Student.where(classnum: current_lesson.classnum, classlet: current_lesson.classlet)%>
<div class = "lesson_name mt-sm-5 mt-lg-1">
  <h1><%=current_lesson.subject%> Lesson in <%=current_lesson.classnum%><%=current_lesson.classlet%></h1>
  <p>Date: <%= current_lesson.day%>, number of the lesson: <%=current_lesson.pos%><p>
  <% if current_student.role == "Administrator" then%>
    <p> Teacher: <%= Student.find_by(id: current_lesson.teacher_id).name%></p>
  <% end %>
  <hr width="300"/>
</div>
<div class="homework_container col-md-6 offset-md-3">
  <h3>Homework:</h3>
  <% if current_lesson.homework == "" then%>
    <textarea class = "homework form-control">There are no homework for that lesson yet</textarea>
  <%else%>
    <textarea class = "homework form-control"><%= current_lesson.homework %></textarea>
  <%end%>
  <button id="update_homework" class="btn btn-outline-primary btn-block mt-3 mb-3">Update</button>
</div>
<div class="homework_container col-md-8 offset-md-2">
  <h3>Grades:</h3>
  <table class = "table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Student</th>
        <th>Mark</th>
      </tr>
    </thead>
    <tbody>
      <% current_form.each_with_index do |student, i| %>
          <% current_grade = student.grades.find_by(lesson_id: params[:id])%>
          <% if current_grade.blank? then%>
              <% current_grade = "" %>
          <%else %>
              <% current_grade = current_grade.value%>
          <% end %>
        <tr>
          <td class = "student_id"><%= student.id %></td>
          <td class = "name"><%= student.name %></td>
          <td class = "grade"><%= select :current_student_grades,:current_student_grade, 2..5,{selected: current_grade, :include_blank => true},class:"custom-select" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <button id="update_grades" class="btn btn-outline-primary btn-block mb-3">Update</button>
  <% if current_student.role == "Administrator" then%>
    <a style="text-decoration: none;" href = "<%= lesson_delete_lesson_url %>?chosen_lesson=<%=params[:id]%>"><button id="delete_lesson" 
    class="btn btn-outline-danger btn-block mb-3"> Delete lesson</button></a>
  <% end %>
</div>
<%=link_to "Back to timetable", root_url%>
<script>
  document.querySelector("#update_grades").onclick = function(){
          names_el = document.querySelectorAll(".student_id")
          grades_el = document.querySelectorAll(".grade")
          names = []
          grades = []
          for (i = 0; i < names_el.length; i++){
              names[i] = names_el[i].innerHTML
              grades[i] = grades_el[i].firstChild.options[grades_el[i].firstChild.selectedIndex].value
          }
          let updated_hash = new Map()
          for (i = 0; i < names.length; i++)
            updated_hash.set(names[i], grades[i])
          updated_json = JSON.stringify(Object.fromEntries(updated_hash))
          updated_lesson = "<%=params[:id]%>"
          let http_request = new XMLHttpRequest()
          http_request.open("POST", "<%= lesson_update_grades_path %>"+"?"+"&format=json")
          http_request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          http_request.send("updated_grades="+updated_json+"&updated_lesson="+updated_lesson);
  }
  document.querySelector("#update_homework").onclick = function(){
          updated_homework = document.querySelector(".homework").value
          updated_lesson = "<%=params[:id]%>"
          let http_request = new XMLHttpRequest()
          http_request.open("POST", "<%= lesson_update_homework_path %>"+"?"+"&format=json")
          http_request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          http_request.send("updated_homework="+updated_homework+"&updated_lesson="+updated_lesson);
  }

</script>
</div>